<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>添加信息</title>
</head>
<body>
<form th:action="@{/emps}" method="post">
    <div class="form-group">
        <label>title</label>
        <input type="text" name="title" class="form-control" placeholder="三国演义" >
    </div>
    <div class="form-group">
        <label>描述</label>
        <input  type="text" name="summary" class="form-control" placeholder="战争">
    </div>

    <button type="submit" class="btn btn-primary">提交</button>
</form>

</body>
</html>